{% assign products = "" | split: ',' %}
{% assign air_stats = "" | split: ',' %}
{% assign air_stats_production = "" | split: ',' %}
{% assign air_stats_transportation = "" | split: ',' %}
{% assign water_stats = "" | split: ',' %}
{% assign usage_stats = ""  | split: ',' %}
{% assign annual_usage_stats = ""  | split: ',' %}

{% for p in include.products %}
	{% assign product = site.data.products[p] %}
	{% assign products = products | push: product %}

	<!-- AIR STATS -->
	{% assign truck = site.data.transportation['diesel-class8-truck'] %}
	{% assign manufacturing_to_storefront_co2 = truck.avg-miles-per-shipment | divided_by: truck.avg-mpg | times: truck.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: truck.avg-cargo-volume-in %} 

		<!-- need co2 associated with production -->

		<!-- Transportation CO2 -->
	{% assign car = site.data.transportation['gas-car'] %}
	{% assign storefront_to_home_co2 = car.avg-miles-to-supermarket |times: 2 | divided_by: car.avg-mpg | times: car.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: car.avg-cargo-volume-in %}

	{% assign co2_in_production = nil %}
	{% for m in product.materials %}
		{% assign material = site.data.materials[m.material] %}
		{% assign co2_for_material = m.percent | times: material.production-lb-of-co2-per-lb | times: product.unit_stats.weight-lb %}
		{% assign co2_in_production = co2_in_production | plus: co2_for_material %}
	{% endfor %}
	{% assign air_stats_production = air_stats_production | push: co2_in_production %}

	{% assign transportation_co2 = manufacturing_to_storefront_co2 | plus: storefront_to_home_co2 %}
	{% assign air_stats_transportation = air_stats_transportation | push: transportation_co2 %}
	
		<!-- need co2 associated with trasnsporation to landfill -->
		<!-- need co2 associated with use & care -->
		<!-- need co2 associated with disposal -->
	{% assign co2_total = co2_in_production | plus: transportation_co2 %}

	{% assign air_stats = air_stats | push: co2_total %}
	
	<!-- need methane calculations -->

	<!-- WATER USAGE CALCS -->
	{% assign water_used_in_production = nil %}
	{% for m in product.materials %}
		{% assign material = site.data.materials[m.material] %}
		{% assign water_used_for_material = m.percent | times: material.water.gallons-per-lb | times: product.unit_stats.weight-lb %}
		{% assign water_used_in_production = water_used_in_production | plus: water_used_for_material %}
	{% endfor %}
	{% assign water_stats = water_stats | push: water_used_in_production %}
	

	<!-- Usage Stats -->
	{% for u in product.uses %}
		{% if u.use == page.use %}
			{% assign annual_usage_stats = annual_usage_stats | push: u.annual-use-frequency %}
			{% assign usage_stats = usage_stats | push: u.units-needed %}
		{% endif %}
	{% endfor %}


{% endfor %}
Needs to account for units needed for use <br/>
<div id='product' style="display: table-row;">
	{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			<h4>{{product.name}}</h4>
			<div>
				{% assign stats_index = forloop.index | minus: 1 %}
				<strong>Unit Price:</strong> ${{product.unit_stats.price-usd}}
				{% if forloop.index == 1 %}
					{% assign base_price = product.unit_stats.price-usd %}
				{% endif %}
				<br/>
				{% for u in product.uses %}
					{% if u.use == page.use %}
						{% assign annual_use = u.annual-use-frequency | divided_by: 365.0 %}
					{% endif %}
				{% endfor %}
				<strong>Concurrent Units Needed:</strong> {{product.unit_stats.concurrent-units-needed}}<br>
				<strong>Expected Life: </strong>
				{% if annual_use > 0 %}
					{% assign lifespan = 1.0 | times: product.unit_stats.uses-per-unit | times: product.unit_stats.concurrent-units-needed | divided_by: annual_use %}
				
				{% endif %}

				{{ lifespan | length_of_time: }}<br/>
				<strong>Days to Break Even:</strong><br/>
				<strong>Cash:</strong>
					{% if base_price > 0 %}
						{% assign breakeven_uses = product.unit_stats.price-usd | times: product.unit_stats.concurrent-units-needed | divided_by: base_price %}
						{% assign breakeven_days = breakeven_uses | divided_by: annual_use %}

						{% if product.unit_stats.uses-per-unit | times: product.unit_stats.concurrent-units-needed > breakeven_uses %}
							<img src="/assets/green-leaf-4903.svg" alt="Green Leaf" height='18'/>
						{% endif %}
						{{ breakeven_days | length_of_time: }}<br/>
					{% endif %}
				<strong>Air:</strong> 
					{% if forloop.index == 1 %}
						{% assign base_air = air_stats[stats_index] %}
					{% endif %}
					{% if base_air != nil %}
						{% assign air_breakeven = air_stats[stats_index] | divided_by: base_air | divided_by: annual_use %}
					{% endif %}
					{% if air_breakeven < lifespan %}
						<img src="/assets/green-leaf-4903.svg" alt="Green Leaf" height='18'/>
					{% endif %}
					{{ air_breakeven | length_of_time: }}

					<br/>

				<strong>Water: </strong>
					{% if forloop.index == 1 %}
						{% assign base_water = water_stats[stats_index] %}
					{% endif %}
					{% if base_water != nil %}
						{% assign water_breakeven = water_stats[stats_index] | divided_by: base_water | divided_by: annual_use %}
					{% endif %}
					{% if water_breakeven < lifespan %}
						<img src="/assets/green-leaf-4903.svg" alt="Green Leaf" height='18'/>
					{% endif %}
					{{ water_breakeven | round: 1 }} days
					<br/>
				<strong>Energy:</strong><br/>
				<strong>Land:</strong><br/>

			</div>
		</div>
	{% endfor %}
</div>

<div>
	<input type="range" min="1" max="7" value="1" class="slider" id="use_amount"><span id="use_amount_text">Single Use</span>
</div>

<strong>Price</strong><br/>
<div id='product' style="display: table-row;">
	{% for product in products %}
		{% assign stats_index = forloop.index | minus: 1 %}
		<div style="display: table-cell;padding:  2em;">
			<span id="{{stats_index}}_units" min-units="{{ usage_stats[stats_index] | times: product.unit_stats.concurrent-units-needed }}">{{ usage_stats[stats_index] | times: product.unit_stats.concurrent-units-needed }}</span> units <br>

			{% if product.unit_stats.uses-per-unit > 0 %}
				{% assign price = product.unit_stats.price-usd | divided_by: product.unit_stats.uses-per-unit %}
				<span id="{{stats_index}}_price" price="{{price}}">
					$ {{ price }}
				</span>
				<br/>
			{% endif %}
		</div>
	{% endfor %}
</div>
<div>


		<strong>Air</strong>
		{% for product in products %}
			<div style="display: table-cell;padding:  2em;">
				{% assign stats_index = forloop.index | minus: 1 %}
				<div><strong>Total:</strong>&nbsp;{{ air_stats[stats_index] }}&nbsp;lbs of CO&#8322;</div>
				<div>Production:&nbsp;{{ air_stats_production[stats_index] }}&nbsp;lbs</div>
				<div>Transportation:&nbsp;{{ air_stats_transportation[stats_index] }}&nbsp;lbs</div>
				<div>Use & Care</div>
				<div>Disposal</div>
			</div>
		{% endfor %}

</div>
<div>
		<strong>Water</strong>
		{% for product in products %}
			<div style="display: table-cell;padding:  2em;">
				{% assign stats_index = forloop.index | minus: 1 %}
				<strong>Total: </strong> {{ water_stats[stats_index] }} gal<br/>
				<strong>Production:</strong> {{ water_stats[stats_index] }} gal
				{% for m in product.materials %}
					{% assign material = site.data.materials[m.material] %}<br>
					{{ m.percent | times: 100 }}% {{material.name}}: <br>
					Weight: <span class="dimension">{{ product.unit_stats.weight-lb | times:  m.percent }}</span> lb(s)<br>
					Water Use: {{m.percent | times: material.water.gallons-per-lb | times: product.unit_stats.weight-lb }} gal <span title="{{material.water.source}}">&#9432;</span><br>
				{% endfor %}
				<strong>Use & Care:</strong>
			</div>
		{% endfor %}
</div>
<div>
		<strong>Energy</strong>
</div>
<div>
		<strong>Land</strong>
</div>
<div>
	<strong>Production</strong>
	<div id='product' style="display: table-row;">
	{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			Materials: 
			{% for m in product.materials %}
				{% assign material = site.data.materials[m.material] %}<br>
				{{material.name}}: {{ m.percent | times: 100 }}%<br>
				Weight: <span class="dimension">{{ product.unit_stats.weight-lb | times:  m.percent }}</span> lb(s)<br>
				Water Use & Impact: {{m.percent | times: material.water.gallons-per-lb | times: product.unit_stats.weight-lb }} gal <span title="{{material.water.source}}">&#9432;</span><br>
				Energy Use:<br>
				Land Impact:<br>
				Air Impact: <br>
			{% endfor %}
		</div>
	{% endfor %}
</div>
</div>
<div>
	Transportation 
	<span title="Assumes best case scenario of existing trips with full vehicle where only the portion of vehicle cargo space for items is considered.">&#9432;</span>
		{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			<li>Material Source to Manufacturing</li>
			<li>Manufacturing to Storefront:
				{% assign truck = site.data.transportation['diesel-class8-truck'] %}
				{{ truck.avg-miles-per-shipment | divided_by: truck.avg-mpg | times: truck.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: truck.avg-cargo-volume-in }} lbs of CO&#8322;
			</li>
			<li>Storefront to Home:
				{% assign car = site.data.transportation['gas-car'] %}
				{{ car.avg-miles-to-supermarket |times: 2 | divided_by: car.avg-mpg | times: car.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: car.avg-cargo-volume-in }} lbs of CO&#8322;
			</li>
			<li>Home to Disposal Site</li>
		</div>
	{% endfor %}
</div>
<div>
	Use & Care:
	{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			{% assign stats_index = forloop.index | minus: 1 %}
			Annual Use Frequency: {{annual_usage_stats[stats_index]}}<br>
			Number of Uses per Unit: {{ product.unit_stats.uses-per-unit }}<br>
			Number of Units Needed Concurrently: {{ product.unit_stats.concurrent-units-needed  }}<br>
			{% assign lifespan = 1.0 | times: product.unit_stats.uses-per-unit | times: product.unit_stats.concurrent-units-needed | divided_by: product.unit_stats.annual-use-frequency%}
			Lifespan: 
			{% if lifespan >= 1 %}
				{{ lifespan }} years
			{% else %}
				{{ lifespan | times: 365 }} days
			{% endif %}
			<br>
			<br>
			Care:

			
		</div>
	{% endfor %}


</div>
<div>
	Disposal
</div>

<script type="text/javascript">

	var slide = document.getElementById('use_amount'),
    sliderDiv = document.getElementById("use_amount_text");

    {% for product in products %}
    	{% assign stats_index = forloop.index | minus: 1 %}
    	product_units{{stats_index}} = document.getElementById("{{stats_index}}_units");
    	product_price{{stats_index}} = document.getElementById("{{stats_index}}_price");
    {% endfor %}

	slide.onchange = function() {
		var amount_text = "Single Use"
		var people = 1
		var years = 1/365
		if(this.value ==1){
			var amount_text = "Single Use"
			people = 1
			years = 1/365
		}else if(this.value ==2){
			amount_text = "Annual Use for 1 Person"
			people = 1
			years = 1
		}else if(this.value ==3){
			amount_text = "Annual Use for Family of 4"
			people = 4
			years = 1
		}else if(this.value ==4){
			amount_text = "Annual Use for Population of 100,000"
			people = 100000
			years = 1
		}else if(this.value ==5){
			amount_text = "10 Year Use for 1 Person"
			people = 1
			years = 10
		}else if(this.value ==6){
			amount_text = "10 Year Use for Family of 4"
			people = 4
			years = 10
		}else if(this.value ==7){
			amount_text = "10 Year Use for Population of 100,000"
			people = 100000
			years = 10
		}else{
			amount_text = this.value;
		}
		{% for product in products %}
    		{% assign stats_index = forloop.index | minus: 1 %}
    		concurrent_units = {{ product.unit_stats.concurrent-units-needed  }}
    		uses_per_unit = {{ product.unit_stats.uses-per-unit }}
    		min_units = product_units{{stats_index}}.getAttribute('min-units')
    		annual_use = {{annual_usage_stats[stats_index]}};
    		units_needed = concurrent_units * Math.ceil(annual_use * people * years / uses_per_unit);
			product_units{{stats_index}}.innerHTML = numberWithCommas(units_needed);

			unit_price = {{ product.unit_stats.price-usd }}
			product_price{{stats_index}}.innerHTML = "$"+ numberWithCommas(unit_price * units_needed);

		{% endfor %}
	    sliderDiv.innerHTML = amount_text;
	}

	function numberWithCommas(x) {
	    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
</script>
