{% assign products = "" | split: ',' %}
{% assign air_stats = "" | split: ',' %}
{% assign water_stats = "" | split: ',' %}

{% for p in include.products %}
	{% assign product = site.data.products[p] %}
	{% assign products = products | push: product %}

	<!-- AIR STATS -->
	{% assign truck = site.data.transportation['diesel-class8-truck'] %}
	{% assign manufacturing_to_storefront_co2 = truck.avg-miles-per-shipment | divided_by: truck.avg-mpg | times: truck.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: truck.avg-cargo-volume-in %} 


	{% assign car = site.data.transportation['gas-car'] %}
	{% assign storefront_to_home_co2 = car.avg-miles-to-supermarket |times: 2 | divided_by: car.avg-mpg | times: car.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: car.avg-cargo-volume-in %}

	{% assign co2_total = manufacturing_to_storefront_co2 | plus: storefront_to_home_co2 %}
	{% assign air_stats = air_stats | push: co2_total %}



	<!-- WATER USAGE CALCS -->
	{% assign water_used_in_production = nil %}
	{% for m in product.materials %}
		{% assign material = site.data.materials[m.material] %}<br>
		{% assign water_used_for_material = m.percent | times: material.water.gallons-per-lb | times: product.unit_stats.weight-lb %}
		{% assign water_used_in_production = water_used_in_production | plus: water_used_for_material %}
	{% endfor %}
	{% assign water_stats = water_stats | push: water_used_in_production %}
	
{% endfor %}

<div id='product' style="display: table-row;">
	{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			<h4>{{product.name}}</h4>
			<div>
				{% assign stats_index = forloop.index | minus: 1 %}
				<strong>Unit Price:</strong> ${{product.unit_stats.price-usd}}
				{% if forloop.index == 1 %}
					{% assign base_price = product.unit_stats.price-usd %}
				{% endif %}
				<br/>
				{% assign annual_use = product.unit_stats.annual-use-frequency | divided_by: 365.0 %}
				<strong>Expected Life: </strong>
				{% assign lifespan = product.unit_stats.uses-per-unit | divided_by: annual_use%}
				{{ lifespan }}&nbsp;days<br/>
				<strong>Days to Break Even:</strong><br/>

				<strong>Cash:</strong>
					{% assign cash_breakeven = product.unit_stats.price-usd | divided_by: base_price | divided_by: annual_use %}
					{% if cash_breakeven < lifespan %}
						<img src="/assets/green-leaf-4903.svg" alt="Green Leaf" height='18'/>
					{% endif %}
					{{ cash_breakeven }} days<br/>
					
				<strong>Air:</strong> 
					{% if forloop.index == 1 %}
						{% assign base_air = air_stats[stats_index] %}
					{% endif %}
					{% if base_air != nil %}
						{% assign air_breakeven = air_stats[stats_index] | divided_by: base_air | divided_by: annual_use %}
					{% endif %}
					{% if air_breakeven < lifespan %}
						<img src="/assets/green-leaf-4903.svg" alt="Green Leaf" height='18'/>
					{% endif %}
					{{ air_breakeven | round: 1 }} days

					<br/>

				<strong>Water: </strong>
					{% if forloop.index == 1 %}
						{% assign base_water = water_stats[stats_index] %}
					{% endif %}
					{% if base_water != nil %}
						{% assign water_breakeven = water_stats[stats_index] | divided_by: base_water | divided_by: annual_use %}
					{% endif %}
					{% if water_breakeven < lifespan %}
						<img src="/assets/green-leaf-4903.svg" alt="Green Leaf" height='18'/>
					{% endif %}
					{{ water_breakeven | round: 1 }} days
					<br/>
				Energy<br/>
				Land<br/>

			</div>
		</div>
	{% endfor %}
</div>

<div>
	<span id='one_use'>Single Use</span>
	<span id='one_year_use'>Annual Use for 1 Person</span>
	<span id='one_year_family_use'>Annual Use for Family of 4</span>
	<span id='one_year_population_use'>Annual Use for Population of 100,000</span>
	<span id='ten_year_use'>10 Year Use for 1 Person</span>
	<span id='ten_year_family_use'>10 Year Use for Family of 4</span>
	<span id='ten_year_population_use'>10 Year Use for Population of 100,000</span>
</div>

<strong>Price</strong><br/>
<div id='product' style="display: table-row;">
	{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			{% if product.unit_stats.uses-per-unit > 0 %}
				$ {{ product.unit_stats.price-usd | divided_by: product.unit_stats.uses-per-unit }}<br/>
			{% endif %}
		</div>
	{% endfor %}
</div>
<div>
		<strong>Air</strong>
		{% for product in products %}
			<div style="display: table-cell;padding:  2em;">
				{% assign stats_index = forloop.index | minus: 1 %}
				<div><strong>Total:</strong>{{ air_stats[stats_index] }} lbs of CO&#8322;</div>
				<div>Production</div>
				<div>Transportation</div>
				<div>Use & Care</div>
				<div>Disposal</div>
			</div>
		{% endfor %}

</div>
<div>
		<strong>Water</strong>
		{% for product in products %}
			<div style="display: table-cell;padding:  2em;">
				{% assign stats_index = forloop.index | minus: 1 %}
				<strong>Total: </strong> {{ water_stats[stats_index] }} gal<br/>
				<strong>Production:</strong> {{ water_stats[stats_index] }} gal
				{% for m in product.materials %}
					{% assign material = site.data.materials[m.material] %}<br>
					{{ m.percent | times: 100 }}% {{material.name}}: <br>
					Weight: <span class="dimension">{{ product.unit_stats.weight-lb | times:  m.percent }}</span> lb(s)<br>
					Water Use: {{m.percent | times: material.water.gallons-per-lb | times: product.unit_stats.weight-lb }} gal <span title="{{material.water.source}}">&#9432;</span><br>
				{% endfor %}
				<strong>Use & Care:</strong>
			</div>
		{% endfor %}
</div>
<div>
		<strong>Energy</strong>
</div>
<div>
		<strong>Land</strong>
</div>
<div>
	<strong>Production</strong>
	<div id='product' style="display: table-row;">
	{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			Materials: 
			{% for m in product.materials %}
				{% assign material = site.data.materials[m.material] %}<br>
				{{material.name}}: {{ m.percent | times: 100 }}%<br>
				Weight: <span class="dimension">{{ product.unit_stats.weight-lb | times:  m.percent }}</span> lb(s)<br>
				Water Use & Impact: {{m.percent | times: material.water.gallons-per-lb | times: product.unit_stats.weight-lb }} gal <span title="{{material.water.source}}">&#9432;</span><br>
				Energy Use:<br>
				Land Impact:<br>
				Air Impact: <br>
			{% endfor %}
		</div>
	{% endfor %}
</div>
</div>
<div>
	Transportation 
	<span title="Assumes best case scenario of existing trips with full vehicle where only the portion of vehicle cargo space for items is considered.">&#9432;</span>
		{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			<li>Material Source to Manufacturing</li>
			<li>Manufacturing to Storefront:
				{% assign truck = site.data.transportation['diesel-class8-truck'] %}
				{{ truck.avg-miles-per-shipment | divided_by: truck.avg-mpg | times: truck.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: truck.avg-cargo-volume-in }} lbs of CO&#8322;
			</li>
			<li>Storefront to Home:
				{% assign car = site.data.transportation['gas-car'] %}
				{{ car.avg-miles-to-supermarket |times: 2 | divided_by: car.avg-mpg | times: car.lbs-co2-per-gallon | times: product.unit_stats.volume-in3 | divided_by: car.avg-cargo-volume-in }} lbs of CO&#8322;
			</li>
			<li>Home to Disposal Site</li>
		</div>
	{% endfor %}
</div>
<div>
	Use:
	{% for product in products %}
		<div style="display: table-cell;padding:  2em;">
			Annual Use Frequency: {{product.unit_stats.annual-use-frequency}}<br>
			Number of Uses per Unit: {{ product.unit_stats.uses-per-unit }}<br>
			Number of Units Needed Concurrently: {{ product.unit_stats.concurrent-units-needed  }}<br>
			{% assign lifespan = 1.0 | times: product.unit_stats.uses-per-unit | times: product.unit_stats.concurrent-units-needed | divided_by: product.unit_stats.annual-use-frequency%}
			Lifespan: 
			{% if lifespan >= 1 %}
				{{ lifespan }} years
			{% else %}
				{{ lifespan | times: 365 }} days
			{% endif %}
			<br>
			<br>
			Care:

			
		</div>
	{% endfor %}


</div>
<div>
	Disposal
</div>
